*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f5f5f5;
}


.navbar{
    display:flex;
    align-items:center;
    gap:15px;
    padding:15px 20px;
    background:white;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
    flex-wrap:wrap;
}

.logo{
    font-size:26px;
    font-weight:bold;
    color:#f4c430;
}

.logo span{
    color:#0c831f;
}

.location p{
    font-size:12px;
    color:#555;
}

.search{
    flex:1;
    padding:10px;
    border-radius:20px;
    border:1px solid #ccc;
}
.login-btn {
    padding: 8px 16px;
    background: white;
    border: 1px solid #ccc;
    text-decoration: none;
    color: black;
    border-radius: 6px;
    font-weight: 500;
}
.login-btn:hover {
    background: #f2f2f2;
}


.actions button{
    padding:8px 15px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.login{
    background:none;
}
.cart-btn {
    background: #0c831f;
    color: white;
    padding: 8px 14px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
}



.hero{
    background:#0c831f;
    color:white;
    padding:30px;
    text-align:center;
    font-size:22px;
}


.offers{
    display:flex;
    gap:15px;
    padding:20px;
    flex-wrap:wrap;
}

.offer{
    flex:1;
    min-width:200px;
    padding:20px;
    border-radius:12px;
    color:white;
    transition:0.3s;
}

.offer:hover{
    transform:translateY(-10px);
}

.yellow{ background:#f4c430; color:black; }
.dark{ background:#222; }
.pink{ background:#e94f6a; }
.purple{ background:#6a1b9a; }
.image{height: 150px;
width: 150px;
scale: "object-fit: cover;"}


.categories{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
    padding:20px;
}

.cat{
    background:white;
    padding:15px;
    border-radius:10px;
    width:120px;
    text-align:center;
    box-shadow:0 5px 10px rgba(0,0,0,0.1);
    transition:0.3s;
}

.cat:hover{
    transform:translateY(-8px);
}


.products{
    padding:20px;
}

.product-grid{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    background:white;
    width:180px;
    padding:15px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    border-radius:8px;
}

.card button{
    margin-top:10px;
    padding:8px 12px;
    border:none;
    background:#0c831f;
    color:white;
    border-radius:5px;
}


footer{
    background:#333;
    color:white;
    text-align:center;
    padding:15px;
}


@media(max-width:768px){
    .search{ width:100%; }
}